<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark sidebar">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
        href="/"
        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          @if(loggedRole == 'Admin'){
            <h1 class="fs-5 d-none d-sm-inline text-success"> Bakery Admin</h1>
          }
          @else {
            <h1 class="fs-5 d-none d-sm-inline"> Branch Admin</h1>
          }
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            @if(loggedRole == 'Admin'){
              <a 
              href="#submenu1"
              data-bs-toggle="collapse"
              class="nav-link px-2 align-middle w-100" routerLink="/admin/dashboard" routerLinkActive="active-menu">
              <i class="fs-4 bi-speedometer2"></i>
              <span class="ms-1 d-none d-sm-inline">Dashboard</span>
              </a>
            }


            <!-- Branch -->
            @if(loggedRole == 'Clerk'){
              <!-- <ul
              class="collapse show nav flex-column ms-1"
               id="submenu1"
              data-bs-parent="#menu">
              <li *ngFor="let branch of branches" class="w-100">
              <a [routerLink]="['admin/branch',branch._id]" class="nav-link px-0">
              <span class="d-none d-sm-inline">{{ branch.name }}</span>
              </a>
             </li>
             </ul> -->

             <a *ngIf="branchFound" [routerLink]="['branch', branchFound._id]" class="nav-link px-0">
              <span class="d-none d-sm-inline">{{ branchFound.name }}</span>
            </a>
            
            }
            

          </li>
          @if(loggedRole == 'Admin'){
            <li class="w-100">
              <a [routerLink]="'/admin/orders'" 
                 class="nav-link px-2 align-middle w-100" 
                 routerLinkActive="active-menu">
                <i class="fs-4 bi-table"></i>
                <span class="ms-1 d-none d-sm-inline">Orders</span>
              </a>
            </li>
            
            
          <li>
            <a [routerLink]="'/admin/products'"
              href="#submenu3"
              data-bs-toggle="collapse"
              class="nav-link px-2 align-middle w-100"  routerLinkActive="active-menu">
              <i class="fs-4 bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">inventory</span>
            </a>
          </li>
          <a class="nav-link px-2 align-middle" [routerLink]="'/admin/users'"  routerLinkActive="active-menu">
            <i class="fs-4 bi-people"></i>
            <span class="ms-1 d-none d-sm-inline">Customers</span>
          </a>
          <a class="nav-link px-2 align-middle" [routerLink]="'/admin/productstoadmin'"  routerLinkActive="active-menu">
            <i class="fs-4 bi-grid"></i>
            <span class="ms-1 d-none d-sm-inline">Products</span>
          </a>
          <a class="nav-link px-2 align-middle" [routerLink]="'/admin/requests'"  routerLinkActive="active-menu">
            <i class="fs-4 bi-grid"></i>
            <span class="ms-1 d-none d-sm-inline">Requests</span>
          </a>
          <a class="nav-link px-2 align-middle" [routerLink]="'/admin/comments'"  routerLinkActive="active-menu">
            <i class="fs-4 bi-people"></i>
            <span class="ms-1 d-none d-sm-inline">Comments</span>
          </a>
          <a class="nav-link px-2 align-middle" [routerLink]="'/admin/branch/manage'"  routerLinkActive="active-menu">
            <i class="fs-4 bi-people"></i>
            <span class="ms-1 d-none d-sm-inline">Branch Managment</span>
          </a>
          }
        </ul>
          
        <hr />
        <div class="dropdown pb-4">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">{{loggedEmail}}</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1"
          >
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3 content">
      <!-- content of pages -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
