.navbar-nav .nav-link {
    color: #e6d2ab !important; /* Bakery Color */
}


/* Default sidebar link */
.nav-link {
    color: #f4f4f4 !important; /* Light brown (default) */
    transition: color 0.3s ease-in-out;
}

.sidebar {
    position: fixed; /* Fix to the left */
    top: 0;
    left: 0;
    height: 100vh; /* Full height */
    width: 235px; /* Sidebar width */
    overflow-y: auto; /* Enable scroll if content is long */
    z-index: 1000; /* Keeps sidebar on top */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.content {
    margin-left: 250px; /* Prevents overlapping with sidebar */
    width: calc(100% - 250px); /* Adjust width dynamically */
    padding: 20px;
}


  .active-menu {
    background-color: #5da709 !important; /* Highlight color */
    color: black !important;
    border-radius: 5px;
    width: 100% !important;
    display: block !important;
  }
  
  .nav-link {
    transition: all 0.5s ease;
  }
  
  