

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
overflow: hidden;
}

.header-area {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}

/* .navbar {
  padding: 10px 0;
  margin-left: 10px;
} */

.navbar-dark .nav-link {
  color: black;
  font-size: 14px;
  padding: 5px 10px;
}
.nav-item a:active{
  background-color: goldenrod;
}
.navbar-dark .nav-link:hover, .navbar-dark .nav-link.active {
  color: rgb(252, 252, 252);
  background-color: goldenrod;
}

.router-link-active {
  color: rgb(252, 252, 252) !important;
  font-weight: bold;
  background-color: goldenrod;
}
i:active{
  background-color: goldenrod;
}

.navbar {
  padding: 10px 0;
  /* margin-left: 10px; */
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
}

/* Responsive Navbar *//*
@media (max-width: 992px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
}

@media (min-width: 993px) {
  .navbar-collapse {
    display: flex !important;
  }
}
*/

