<header class="header-area overlay">
  <nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container">
      <a href="#" class="navbar-brand">logo</a>

      <!-- Navbar Toggler for Mobile -->
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#main-nav">
        <span class="navbar-toggler-icon " style="background-color: pink;"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/about']" routerLinkActive="router-link-active" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="nav-link">Contact</a>
          </li>
          
          <!-- Show Register and Login if not logged in -->
          <ng-container *ngIf="!islogged()">
            <li class="nav-item">
              <a [routerLink]="['/register']" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/login']" class="nav-link">Login</a>
            </li>
          </ng-container>

          <!-- Show Logout if logged in -->
          <ng-container *ngIf="islogged()">
            <li class="nav-item">
              <span class="nav-link">Hello, {{ userEmail }}</span>
            </li>
            <li class="nav-item">
              <a (click)="logout()" class="nav-link">Logout</a>
            </li>
          </ng-container>

          <li class="nav-item">
            <a [routerLink]="['/checkout']" class="nav-link">Checkout</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/profile']" class="nav-link"><i class="fa-solid fa-user fa-xl"></i></a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cart']" class="nav-link"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
