<section class="get-in-touch">

  <form class="contact-form row" #productForm="ngForm" (ngSubmit)="updateProductone()" novalidate>
    <div class="form-field col-lg-6">
      <input id="name" [(ngModel)]="productUP.name" name="name" class="input-text js-input" type="text" required />
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="descr" [(ngModel)]="productUP.description" name="description" class="input-text js-input" type="text" required />
      <label class="label" for="descr">Description</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="price" [(ngModel)]="productUP.price" name="price" class="input-text js-input" type="number" required min="1" />
      <label class="label" for="price">Price</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="price" [(ngModel)]="productUP.previousprice" name="price" class="input-text js-input" type="number" required min="1" />
      <label class="label" for="price">Previous Price</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="stock" [(ngModel)]="productUP.stock" name="quanity" class="input-text js-input" type="number" required min="1" />
      <label class="label" for="stock">quantity number</label>
    </div>

    <div formArrayName="branchInputs">
      <div *ngFor="let branchInput of branchInputs; let i = index" class="branch-container">

        <!-- Branch Dropdown -->
        <div class="form-field ">
          <select
            id="branch{{i}}"
            [(ngModel)]="branchInput.branch"
            name="branch{{i}}"
            class="input-text js-input"
            required
          >
            <option value="" disabled selected>Select a branch</option>
            <option *ngFor="let branch of allowedBranches" [value]="branch">
              {{ branch }}
            </option>
          </select>

        </div>

        <!-- Quantity Input -->
        <div class="form-field">
          <input
            id="quantity{{i}}"
            [(ngModel)]="branchInput.quantity"
            name="quantity{{i}}"
            class="input-text js-input"
            type="number"
            required
            min="1"
            placeholder="Enter quantity"
            (blur)="onBranchInputChange(i)"
          />
          <label class="label" for="quantity{{i}}">Quantity</label>
        </div>

        <!-- Remove Branch Button -->
        <button type="button" class="remove-btn" *ngIf="branchInputs.length > 1" (click)="removeBranch(i)">Remove</button>
      </div>
    </div>

    <!-- Add New Branch Button -->
    <button type="button" class="add-btn" (click)="addBranch()">+ Add Branch</button>





    <!-- Display capacity errors -->
    <div *ngIf="branchCapacityErrors.length > 0" class="error-message">
      <p *ngFor="let error of branchCapacityErrors" [style.color]="error.includes('available capacity') ? 'green' : 'red'">{{ error }}</p>
    </div>


    <div class="form-field col-lg-6">
      <input id="flavor" [(ngModel)]="productUP.flavor" name="flavor" class="input-text js-input" type="text" required />
      <label class="label" for="flavor">Flavor</label>
    </div>
    <div class="input-container ic2 yellow">Discount
      <input id="discount" [(ngModel)]="productUP.discounted" class="input" type="checkbox" name="discount" />
    </div>
    <div class="form-field col-lg-6">
      <input id="createdAt" [(ngModel)]="productUP.createdAt" name="createdAt" class="input-text js-input" type="date" required />
      <label class="label" for="createdAt">Created At</label>
    </div>
    <div class="col-lg-6" style="color: #5543ca;">
      <input id="img1" (change)="onFileSelected($event, 1)" name="image1" class="m-1" type="file" accept="image/*" required /> Image 1
      <input id="img2" (change)="onFileSelected($event, 2)" name="image2" class="m-1" type="file" accept="image/*" required /> Image 2
    </div>
    <div class="mt-2">
      <img *ngIf="productUP.images[0]" [src]="productUP.images[0]" alt="Current Image 1" width="80">
      <img *ngIf="productUP.images[1]" [src]="productUP.images[1]" alt="Current Image 2" width="80">
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit" [disabled]="!productForm.valid" />
    </div>
  </form>
</section>
