
<br><br>
<body>
  <form class="form" (ngSubmit)="updateProductone()">

      <div class="subtitle">Let's update product</div>
      <div class="input-container ic1 yellow">Name
        <input id="pro_name" class="input" [(ngModel)]="productUP.name" type="text" placeholder=" product Name" name="nameproduct" />


      </div>
      <div class="input-container ic2 yellow">Description
        <input id="description" [(ngModel)]="productUP.description" class="input" type="text" placeholder="Description "  name="description"/>

      </div>
      <div class="input-container ic2 yellow"> Stock
        <input id="stock" [(ngModel)]="productUP.stock" class="input" type="number" placeholder="number of stock "  name="stock" (input)="onPositiveNumber($event)"/>
        <div class="cut cut-short"></div>

      </div>
      <div class="input-container ic2 yellow" > price
        <input id="price" [(ngModel)]="productUP.price" class="input" type="number" placeholder="price " name="price" (input)="onPositiveNumber($event)"/>
      </div>

      <div class="input-container ic2 yellow" > Flavor
        <input id="flavor" [(ngModel)]="productUP.flavor" class="input" type="text" placeholder="falavor " name="flavor" />
      </div>
      <div class="input-container ic2 yellow" > Discount
        <input id="discount" [(ngModel)]="productUP.discounted" class="input" type="checkbox"  name="discount" />
      </div>

      <div class="input-container ic2 yellow">Seller's Name
        <input id="seller_name" class="input" type="text" placeholder="seller's name " name="sellername"/>

      </div>
      <div class="input-container ic2 yellow">
        <input id="createdAt" [(ngModel)]="productUP.createdAt" name="createdAt" class="input " type="date"
          required />
        <label class="label" for="createdAt">Created At</label>
      </div>
<!--images-->
      <div class="input-container ic2 yellow">image1
        <input id="img" (change)="onFileSelected($event, 1)" class="input" type="file" name="img1" />
      </div>
      <div class="input-container ic2 yellow">image2
        <input id="img2" (change)="onFileSelected($event, 2)" class="input" type="file"  name="img2" />

      </div>
      <div class="mt-2">
        <img *ngIf="productUP.images[0]" [src]="productUP.images[0]" alt="Current Image 1" width="80">
        <img *ngIf="productUP.images[1]" [src]="productUP.images[1]" alt="Current Image 2" width="80">
      </div>
<input type="submit" class="submit" value="submit" (click)="updateProductone()">
    </form>
</body>
