
th {
    background-color: #e6dc9c;
}

td {
    border: 1px solid #ddd9bf;
}

.table-danger {
    background-color: #e4999f !important;
    font-style: italic;
}

.btndash{
    border: none;
    background-color: goldenrod;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  