<section class="about">
  <div class="container-about">
    <div class="info">
      <h2>About Mrs. Fields</h2>
      <p>Debbi Fields opened her first store in Palo Alto, California in 1977 and the Mrs. Fields name quickly became
        associated with warm, freshly baked cookies right out of the oven.

        Celebrated by multiple generations, Mrs. Fields today enjoys the highest aided brand awareness in the industry
        and maintains a strong market presence. Products are sold via MrsFields.com, gifting catalogs, call center and
        corporate sales team where it provides customers a vast selection of products for all occasions.

        Today, the Company's signature cookie assortment has been extended into complementary giftable products
        including brownies, cakes, berries and beyond. Mrs. Fields also sells its tasty treats via 250 franchised
        retail locations globally.

        Mrs. Fields licenses the use of its trademarks and recipes for distribution of products through a variety of
        retail locations.

        Mrs. Fields is based in Salt Lake City, Utah and operates a robust production and distribution facility located
        in Salt Lake City, Utah.</p>
    </div>
  </div>
</section>
<div class="container story">
  <h2>Our Storefront</h2>
  <p>We are honored to welcome our cake community into our Spartanburg storefront. Filled with entertaining essentials,
    grab-and-go cake slices and cake bites, delicious savory selections, wonderful wines, and an assortment of curated
    culinary goods, we have all the tools for planning the perfect gathering.</p>
<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
</div>
