<div class="orders-container mt-5">
  <h2 style="text-align: center; color: rgb(117, 108, 24);">Recent Orders</h2>
  <div class=" col-6 col-md-3 col-sm-12">
    <a [routerLink]="['/dashboard']"   id="add-Product" class="form-control btn btndash w-75"
      data-bs-toggle="modal" data-bs-target="#addProductModal">go to dashboard</a>
  </div>
  <div *ngFor="let order of orders; let i = index" class="order-table-container">

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <h4 class="mt-5">Order {{ i + 1 }}</h4>
          <tr>
            <th>Invoice</th>
            <!-- <th>Customer</th> -->
            <th>Purchase On</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ order._id }}</td>
            <!-- <td>
              {{ order.customername === 'Offline User' ? "Offline User" : (order.customername?.firstname + ' ' + order.customername?.lastname) }}
            </td> -->
            <td>{{ order.updatedAt| date: 'short' }}</td>
            <td>${{ order.totalAmount }}</td>
            <td [ngClass]="{
              'pending': order.orderStatus === 'pending',
              'shipped': order.orderStatus === 'shipped',
              'canceled': order.orderStatus === 'canceled',
              'delivered': order.orderStatus === 'delivered'
            }">
              {{ order.orderStatus }}
            </td>
          </tr>
          <tr>
            <th>Items</th>
            <td colspan="4">
              <div class="items-container">
                <div class="item-card" *ngFor="let item of getItemsForCurrentSeller(order)">
                  <h5>{{ item.productId.name }}</h5>
                  <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                  <p><strong>Price:</strong> ${{ item.productId.price }}</p>
                  <p><strong>Total:</strong> ${{ item.quantity * item.productId.price }}</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


