<section class="get-in-touch">
  <h1 class="title">ADD PRODUCT</h1>
  <form class="contact-form row" #productForm="ngForm" (ngSubmit)="save()" novalidate>
    <div class="form-field col-lg-6">
      <input id="name" [(ngModel)]="productAdd.name" name="name" class="input-text js-input" type="text" required />
      <label class="label" for="name">Name</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="descr" [(ngModel)]="productAdd.description" name="description" class="input-text js-input" type="text" required />
      <label class="label" for="descr">Description</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="price" [(ngModel)]="productAdd.price" name="price" class="input-text js-input" type="number" required min="1" (input)="onPositiveNumber($event)"/>
      <label class="label" for="price" >Price</label>
    </div>
    <div class="form-field col-lg-6">
      <input id="stock" [(ngModel)]="productAdd.stock" name="stock" class="input-text js-input" type="number" required  min="1" (input)="onPositiveNumber($event)"/>
      <label class="label" for="stock">Stock number</label>
    </div>
    <div class="form-field col-lg-12">
      <select [(ngModel)]="productAdd.categoryid" name="category" class="form-select mt-3 w-25" id="category" required>
        <option value="" disabled selected>Select a Category</option>
        <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <input id="createdAt" [(ngModel)]="productAdd.createdAt" name="createdAt" class="input-text js-input" type="date" required />
      <label class="label" for="createdAt">Created At</label>
    </div>
    <div class="col-lg-6" style="color: #5543ca;">
      <input id="img1" (change)="onFileSelected($event, 1)" name="image1" class="m-1" type="file" accept="image/*" required /> Image 1
      <input id="img2" (change)="onFileSelected($event, 2)" name="image2" class="m-1" type="file" accept="image/*" required /> Image 2
    </div>
    <div class="form-field col-lg-12">
      <input class="submit-btn" type="submit" value="Submit" [disabled]="!productForm.valid" (click)="save()" />
    </div>
  </form>
</section>
