.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #eee9e4;
    border-radius: 20px;
    padding: 50px;
  }
  
  .cart-item {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item-details {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: brown;
  }
  
  .cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .item-total {
    font-weight: bold;
    font-size: 18px;
  }
  
  .order-summary {
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .order-summary h4 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .order-summary .total-amount {
    color: #219427;
    font-weight: bold;
    font-size: 22px;
  }
  
  .btn-warning {
    background-color: #daa520;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .btn-warning:hover {
    background-color: #ddc78f;
    color: #5f3917;
  }

  .payment-method{
    font-weight: bold;
  }

  #paymentMethod{
    margin-left: 20px;
  }
  