<div class="container my-5">
  <div class="row g-4">
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card shadow-lg border-0 rounded-3 bg-light">
              <div class="card-body d-flex align-items-center">
                  <div class="icon-container bg-warning text-white rounded-circle p-3 me-3">
                      <i class="fas fa-hdd fa-2x"></i>
                  </div>
                  <div>
                      <p class="text-muted mb-1">Customers</p>
                      <h4 class="fw-bold">{{customers}}</h4>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card shadow-lg border-0 rounded-3 bg-light">
              <div class="card-body d-flex align-items-center">
                  <div class="icon-container bg-success text-white rounded-circle p-3 me-3">
                      <i class="fas fa-dollar-sign fa-2x"></i>
                  </div>
                  <div>
                      <p class="text-muted mb-1">Total Money</p>
                      <h4 class="fw-bold">${{totalMoney}}</h4>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 title" routerLink="/admin/orders">
          <div class="card shadow-lg border-0 rounded-3 bg-light">
              <div class="card-body d-flex align-items-center">
                  <div class="icon-container bg-dark text-white rounded-circle p-3 me-3">
                        <i class="fa-solid fa-clock"></i>
                  </div>
                  <div>
                      <p class="text-muted mb-1">Pending Orders</p>
                      <h4 class="fw-bold">{{pendingOrders}}</h4>
                  </div>
              </div>
          </div>
      </div>


  </div>

</div>



<div class="chart-container">
    <div class="chart-title">Most Selling Product</div>
    <div class="chart-wrapper">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'natural'"
        [results]="data"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showDataLabel]="true"
      >
      </ngx-charts-bar-vertical>
    </div>
</div>

<!-- <ngx-charts-pie-chart
  [view]="[700, 400]"
  [results]="pieChartData"
  [legend]="true"
  [labels]="true"
  [doughnut]="false"
  [gradient]="false"
  [colorScheme]="colorScheme">
</ngx-charts-pie-chart> -->

