
.shopping{
  color: rgb(234, 153, 13);
  font-weight: bold;
  font-size: 30px;
}

.cart-item img {
    max-width: 100px;
    height: auto;
}

.quantity-input {
    width: 50px;
}

.cart-summary {
    background-color:rgb(234, 153, 13);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
button{
  background-color: #fff;
  color: rgb(234, 153, 13);
  border: 1px solid rgb(234, 153, 13);
  font-size: 17px;
  font-weight: bold;

}

button:hover{
  background-color: black;
  color: white;
  border: none;
transition: 0.5s;
}
