<div class="container my-5">
  <h2 class="text-center bg-success-subtle text-black">Users</h2>
  <p class="lead">{{ users.length }} {{ selectedRole }}</p>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ selectedRole }}
      
    </button>
  
    <ul class="dropdown-menu" role="menu">
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" (click)="getAllUsers()" [class.active]="selectedRole === 'All Users'">
          All Users
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="getUserRole('Customer')" [class.active]="selectedRole === 'Customer'">
          Customers
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="getUserRole('Seller')" [class.active]="selectedRole === 'Seller'">
          Sellers
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="getUserRole('Admin')" [class.active]="selectedRole === 'Admin'">
          Admins
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="getUserRole('Cashier')" [class.active]="selectedRole === 'Cashier'">
          Cashiers
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="getUserRole('Clerk')" [class.active]="selectedRole === 'Clerk'">
          Clerks
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="getUserRole('Supplier')" [class.active]="selectedRole === 'Supplier'">
          Suppliers
        </a>
      </li>
    </ul>
    
  </div>
  
  
  <div class="table-responsive table-bordered table-striped">
        <table class="table table-hover table-striped">
            <thead class="table-success text-white">
              <tr class>
                <td>Id</td>
                <th>Email</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Address</th>
                <th>Status</th>
                <th>Contact No.</th>
                <th>Registered Since</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="">
              @for (user of users; track $index) {
                <tr>
                  <td>{{ user._id | slice:-3 }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.profile.firstName }} {{ user.profile.lastName }}</td>

                  <td >
                    <p [ngClass]="getRoleClass(user.role)">{{ user.role }}</p>
                  </td>

                  @if (user.profile.address) {
                     <td>212 st {{ user.profile.address.city }}, {{ user.profile.address.governorate }}</td>
                   }
                   @else{
                    <td></td>
                   }
                  @if (user.status === 'active') {
                    <td >
                      <p class="status-active">{{ user.status}}</p>
                      </td>
                  }
                  <td>{{ user.profile.contactNo }}</td>
                  <td>{{ user.createdAt | date: 'medium'}}</td>
                  <td>
                    <button class="btn btn-sm" title="Edit User" [routerLink]="['/admin/users/edit', user._id]">
                      <i class="bi bi-pencil-fill"></i>
                  </button>
                      <button class="btn btn-sm" title="Delete User" (click)="removeUser(user._id)">
                          <i class="bi bi-trash"></i>
                      </button>
                  </td>
                </tr>
              }
            </tbody>
        </table>
    </div>
</div>
