<h2>Users</h2>
<div class="container my-5">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Address</th>
            <th>Status</th>
            <th>Contact No.</th>
            <th>Registered Since</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>013f</td>
            <td>tarek&#64;gmail.com</td>
            <td>Tarek Mohamed</td>
            <td>Admin</td>
            <td>Egypt</td>
            <td>Active</td>
            <td>+20 2032205</td>
            <td>7 Feb</td>
            <td>
                <button class="btn" title="Edit User">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn" title="Edit User">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>
