
/* Shop Header */
.shop-header {
  background: rgb(172, 171, 171);
  overflow: hidden;

  /* background: url('../../../public/assets/images/candy5.jpg') no-repeat center center/cover; */
  padding: 20px;
  color: white;
  height: 200px;
  margin-bottom: 100px;
}
.btn-order{
  color: white;
  background-color: goldenrod;

}
.btn-order:hover{
  transition: 1s ease;
  background-color: gold;
}
.shop-header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.shop-header .text-warning {
  font-weight: bold;
}

*{overflow: hidden;}
/* Banner Section */
.banner-section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  background: url('../../../public/assets/images/candy5.jpg') no-repeat center center/cover;
  /* background-color: rgb(172, 171, 171); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-section .overlay {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Sidebar */
.sidebar {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  height: 100px;
}

.sidebar label {
  font-weight: bold;
}

.sidebar input,
.sidebar select {
  width: 100%;
}

/* Product Card */
.card {
  transition: tr
  transform 0.2s ease-in-out;
  text-align: center;
  overflow: hidden;
  transition: all 1s;
}

.card:hover {
  transform: scale(1.05);

}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


