<div class="container my-5">
  <div class="row g-4">
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card shadow-lg border-0 rounded-3 bg-light">
              <div class="card-body d-flex align-items-center">
                  <div class="icon-container bg-warning text-white rounded-circle p-3 me-3">
                      <i class="fas fa-hdd fa-2x"></i>
                  </div>
                  <div>
                      <p class="text-muted mb-1">Customers</p>
                      <h4 class="fw-bold">{{customers}}</h4>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card shadow-lg border-0 rounded-3 bg-light">
              <div class="card-body d-flex align-items-center">
                  <div class="icon-container bg-success text-white rounded-circle p-3 me-3">
                      <i class="fas fa-dollar-sign fa-2x"></i>
                  </div>
                  <div>
                      <p class="text-muted mb-1">Total Money</p>
                      <h4 class="fw-bold">${{totalMoney}}</h4>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 title" routerLink="/admin/orders">
          <div class="card shadow-lg border-0 rounded-3 bg-light">
              <div class="card-body d-flex align-items-center">
                  <div class="icon-container bg-dark text-white rounded-circle p-3 me-3">
                        <i class="fa-solid fa-clock"></i>
                  </div>
                  <div>
                      <p class="text-muted mb-1">Pending Orders</p>
                      <h4 class="fw-bold">{{pendingOrders}}</h4>
                  </div>
              </div>
          </div>
      </div>

      
  </div>

  <!-- Branch Container -->
    <div class="container my-5">
        <h4 class="lead mb-3">Our Branches</h4>
        
        <div class="row gx-3">
            @for (item of branches; track $index) {
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="card shadow-sm border-0">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ item.name }}</h5>
                            <p class="card-text text-muted">
                                {{ item.location.address }}, {{ item.location.city }} <br>
                                <strong>ZipCode:</strong> {{ item.location.zipCode }}
                            </p>
                            <!-- <button class="btn btn-sm btn-secondary"  
                            [routerLink]="['/admin/branch', item?._id]">
                                Details
                             </button> -->

                             <button class="btn btn-sm btn-secondary"  
                             (click)="navigateToBranch(item._id)">
                         Details
                     </button>
                     

                             
                    
                             </div>
                    </div>
                </div>
            }
        </div>
    </div>
    

<!-- order-overview.component.html -->
<div class="container-fluid my-3">
    <h4 class="lead">Latest Orders</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            @for (item of latestOrders; track $index) {
            <tr>
                <td>{{item.customername.firstname}} {{item.customername.lastname}}</td>
                <td>{{ item.createdAt | date: 'medium'}}</td>
                <td>${{item.totalAmount}}</td>
                    <td class="btn bg-danger my-2 text-white" routerLink="/admin/orders">
                        {{item.orderStatus}}
                    </td>
            </tr>
    
            }
          
        </tbody>
      </table>
    
</div>
  <!-- User Behavior Chart -->
  <!-- <div class="row mt-4">
      <div class="col-md-12">
          <div class="card shadow-lg border-0 rounded-3">
              <div class="card-header bg-dark text-white">
                  <h5 class="mb-0">Users Behavior</h5>
                  <small>24 Hours Performance</small>
              </div>
              <div class="card-body">
                  <canvas id="chartHours" width="400" height="100"></canvas>
              </div>
              <div class="card-footer text-muted">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
          </div>
      </div>
  </div> -->
</div>



<div class="chart-container">
    <div class="chart-title">Most Selling Product</div>
    <div class="chart-wrapper">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="'natural'"
        [results]="data"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showDataLabel]="true"
      >
      </ngx-charts-bar-vertical>
    </div>
</div>

<!-- <ngx-charts-pie-chart
  [view]="[700, 400]" 
  [results]="pieChartData" 
  [legend]="true" 
  [labels]="true" 
  [doughnut]="false" 
  [gradient]="false" 
  [colorScheme]="colorScheme"> 
</ngx-charts-pie-chart> -->

