<h3>Branch Inventory</h3>
<p><strong>Capacity:</strong> {{ productsinbranch.capacity }} items</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Sales</th>
      <th>StockIN</th>
      <th>StockOut</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsinbranch?.products">
      <td>{{ product._id?.slice(-3) }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.sales }}</td>
      <td>
        <span [ngClass]="{'bg-danger text-white p-1': product.stockIn < 10}">
          {{ product.stockIn }}
        </span>
      </td>
      <td>{{ product.stockOut }}</td>
      <td>{{ product.status }}</td>
      <td>{{ product.createdAt | date }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="requestStock(product._id)">
           <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
