/* styles.css or registration.component.css */

body{
  background: url('../../../public/assets/images/cookieschocolate.jpg') ;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}
.register-content{
color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;

}
.container {
  max-width: 600px;

}

.shadow-lg {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

h3 {
  font-weight: bold;
  color: #fff
}

.form-control, .form-select {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
}

.form-control:focus, .form-select:focus {
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-dark {
  background-color: #343a40;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;

}

.btn-dark:hover {
  background-color: #23272b;
}

.form-check-label {
  font-size: 14px;
}

a.text-dark {
  font-weight: bold;
}

a.text-dark:hover {
  color: #000;
  text-decoration: underline;
}


.btn{
  background-color: rgb(228, 138, 21);
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
